# Project exclude paths
/.gradle/
/Simple Chatty Bot/task/build/
/Simple Chatty Bot/task/out/production/classes/
/Simple Chatty Bot/task/out/test/classes/
/Topics/Declaring functions/Theory/out/
/Topics/Declaring functions/Theory/out/production/classes/
/Topics/For loop and ranges/Check the order/out/
/Topics/For loop and ranges/Check the order/out/production/classes/
/Topics/For loop and ranges/Count the numbers/out/
/Topics/For loop and ranges/Count the numbers/out/production/classes/
/Topics/For loop and ranges/Define a for-loop/out/
/Topics/For loop and ranges/Define a for-loop/out/production/classes/
/Topics/For loop and ranges/Fizz Buzz/out/
/Topics/For loop and ranges/Fizz Buzz/out/production/classes/
/Topics/For loop and ranges/For-loop definitions/out/
/Topics/For loop and ranges/For-loop definitions/out/production/classes/
/Topics/For loop and ranges/The longest sequence/out/
/Topics/For loop and ranges/The longest sequence/out/production/classes/
/Topics/For loop and ranges/The maximum pairwise product/out/
/Topics/For loop and ranges/The maximum pairwise product/out/production/classes/
/Topics/For loop and ranges/The minimum value of N numbers/out/
/Topics/For loop and ranges/The minimum value of N numbers/out/production/classes/
/Topics/For loop and ranges/The product of numbers from a to b/out/
/Topics/For loop and ranges/The product of numbers from a to b/out/production/classes/
/Topics/For loop and ranges/The roots of equation/out/
/Topics/For loop and ranges/The roots of equation/out/production/classes/
/Topics/For loop and ranges/The sum of integers from a to b/out/
/Topics/For loop and ranges/The sum of integers from a to b/out/production/classes/
/Topics/For loop and ranges/The sum of N numbers/out/
/Topics/For loop and ranges/The sum of N numbers/out/production/classes/
/Topics/For loop and ranges/Theory/out/
/Topics/For loop and ranges/Theory/out/production/classes/
/Topics/Ranges/Between two numbers/out/
/Topics/Ranges/Between two numbers/out/production/classes/
/Topics/Ranges/Check the value/out/
/Topics/Ranges/Check the value/out/production/classes/
/Topics/Ranges/Job/out/
/Topics/Ranges/Job/out/production/classes/
/Topics/Ranges/Theory/out/
/Topics/Ranges/Theory/out/production/classes/
/Topics/Ranges/Within a range/out/
/Topics/Ranges/Within a range/out/production/classes/
/Topics/Ranges/Within both ranges/out/
/Topics/Ranges/Within both ranges/out/production/classes/
/Topics/Working with strings/Extraction of a character/out/
/Topics/Working with strings/Extraction of a character/out/production/classes/
/Topics/Working with strings/N-th symbol/out/
/Topics/Working with strings/N-th symbol/out/production/classes/
/Topics/Working with strings/Name Card/out/
/Topics/Working with strings/Name Card/out/production/classes/
/Topics/Working with strings/The information about a person/out/
/Topics/Working with strings/The information about a person/out/production/classes/
/Topics/Working with strings/The number of tens/out/
/Topics/Working with strings/The number of tens/out/production/classes/
/Topics/Working with strings/The same line/out/
/Topics/Working with strings/The same line/out/production/classes/
/Topics/Working with strings/Theory/out/
/Topics/Working with strings/Theory/out/production/classes/